
#quizForm,
#results {
    padding:0.5rem;
    margin:0.75rem;
    margin-left:25%;
    width:50%;
    height:45%;
    border-radius:0.25rem;
    box-shadow:0.125rem 0.125rem 0.75rem #46220a;
    text-align: center;
}

#quizForm div {
    margin:0.375rem;
}
input[type='radio']{
    visibility: hidden;
}
.label-chosen{
    padding:0.125rem;
    box-shadow:0.0625rem 0.0625rem 0.75rem #46220a;
    background-color: rgba(139, 39, 21, 0.3) 
}
button {
    margin:5%;
    margin-left:auto;
    margin-right:auto;
}
#quizForm h4, #results h4, input[type='radio'] {
    margin-top:0.125rem;
    color: #531212;    
}

#results, 
#new-quiz,
#ans-1,
#ans-2,
#ans-3,
#submit  {
    display: none;
}

.red {
    color: #531212;
}